<%
=begin%>
 <form action='/users' method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <div class="field">
        <label for="username">Username</label>
        <input type="text" id="username" placeholder="Enter Username" name="user[username]">
    </div>
    <div class="field">
        <label for="email">Email</label>
        <input type="text" id="email" placeholder="Enter email" name="user[email]">
    </div>
    <div class="field">
        <label for="password">Password</label>
        <input type="password" id="password" placeholder="Enter Password" name="user[password]">
    </div>
    <input type="submit">
</form> 
<%
=end%>

<%
=begin%>
 <%= form_tag("/users", method: "post") do %>
  <%= label_tag(:username, "Username:") %>
  <%= text_field_tag(:username) %><br>
  <%= label_tag(:email, "Email:") %>
  <%= text_field_tag(:email) %><br>
  <%= label_tag(:password, "Password:") %>
  <%= text_field_tag(:password) %><br>
  <%= submit_tag("Submit") %>
<% end %> 
<%
=end%>

<%= form_for @user do |f| %>
  <%= f.text_field :username%>
  <%= f.text_field :email%>
  <%= f.text_field :password%>

  <%= f.submit "Add User" %>
<% end %>